*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}html,
body{
    width: 100%;
    height: 100%;
}
.pra{
    width: 100%;
    height: 100%;
    background-image: url(https://images.yourstory.com/cs/2/96eabe90392211eb93f18319e8c07a74/NucleusAItheIndianRebellionof1857ffc85eb3-ef34-489a-9762-93b06980e5db-1683666693070.png?w=1152&fm=auto&ar=2:1&mode=crop&crop=faces);
    background-size: cover;
    animation-name: pra;
    animation-delay: 1s;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}
@keyframes pra {
    from{
        background-image: url(https://images.yourstory.com/cs/2/96eabe90392211eb93f18319e8c07a74/NucleusAItheIndianRebellionof1857ffc85eb3-ef34-489a-9762-93b06980e5db-1683666693070.png?w=1152&fm=auto&ar=2:1&mode=crop&crop=faces);
    }
    to{
        background-image: url(https://gumlet.assettype.com/swarajya%2F2023-05%2Fff752bb4-2b96-46af-ac69-7d33ae69bd83%2FScreenshot_2023_05_19_at_8_39_25_AM.png?q=75&auto=format%2Ccompress&w=640&dpr=1.5);
    }
    
}
.elem h1 {
    color: white;
}
.page2{
    width: 75%;
    height: 100%;
    background:linear-gradient(rgba(255, 166, 0, 0.402),rgba(255, 255, 255, 0.397),rgba(0, 128, 0, 0.523));
    
    position: absolute;
    bottom: 0;

}
.elem{
    width: 100%;
    height: 10%;
    /* background-color: cadetblue; */
    
}
.elem1{
    width: 100%;
    height: 40%;
    /* background-color: palevioletred; */
    display: flex;
    justify-content: space-around;
}
.box{
    width: 150px;
    height: 200px;
    /* background-color: chocolate; */

}
.a{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpI3GzZzX4Oc5GtP0nTaDdnpHnxiqqPCpr5w&usqp=CAU);
    background-size: cover;
    background-position: center;
    animation-name: a;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    
}
.b{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSMJKV7M49EbMuscS_-etxcmKbu8tCpc4pzQ&usqp=CAU);
    background-size: cover;
    background-position: center;
    animation-name: b;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.c{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZw8TmlUZhQlZqgYcEOk5TZk-9nQt4mWsSxw&usqp=CAU);
    background-size: cover;
    background-position: center;
    animation-name: c;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.d{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlQoQsruF_4yMdgqhNCsR5ZGWWrFnUDdsgYA&usqp=CAU);
    background-size: cover;
    background-position: center;
    animation-name: d;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.e{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaeMPe9rVGfdBuyfJL_VQsE40DbqlugDsvOQ&usqp=CAU);
    background-size: cover;
    background-position: center;
    animation-name: e;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes a {
      from{
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpI3GzZzX4Oc5GtP0nTaDdnpHnxiqqPCpr5w&usqp=CAU);
      }
      to{
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4EYzNtH2bo19UTaAkkHOiNirrpal9ypiru360wWLnLdqW91E1YTrcyVB--lBUHhSEXDo&usqp=CAU);
      }
    
}
@keyframes b {
      from{
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSMJKV7M49EbMuscS_-etxcmKbu8tCpc4pzQ&usqp=CAU);
      }
      to{
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0llYK8wcKBUx4bKCCWC1xE99_12RpUWZXNw&usqp=CAU);
      }
    
}
@keyframes c {
      from{
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZw8TmlUZhQlZqgYcEOk5TZk-9nQt4mWsSxw&usqp=CAU);
      }
      to{
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMklfIYA28M6mhOyv44yXg_--waUXXfhQzkA&usqp=CAU);
      }
    
}
@keyframes d {
      from{
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlQoQsruF_4yMdgqhNCsR5ZGWWrFnUDdsgYA&usqp=CAU);
      }
      to{
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS__nUcfVgw6gjnceKeQuCLN9UxWXfH0UURaA&usqp=CAU);
      }
    
}
@keyframes e {
      from{
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaeMPe9rVGfdBuyfJL_VQsE40DbqlugDsvOQ&usqp=CAU);
      }
      to{
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6Vh_3nZ-2-cyCRApfYya2XcKbRM6k8XOOZg&usqp=CAU);
      }
    
}

.elem2{
    width: 100%;
    height: 50%;
    /* background-color: chartreuse; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.down{
    width: 150px;
    height: 200px;
    /* background-color: cornflowerblue; */
}
.p{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5AlZw1CtNcMHfNqBmSllhyvjcFFalEGuu4AJY-8wMKJuJTEdYFVnC4MRL6-_jNsKWt3U&usqp=CAU);
    background-position: center;
    background-size: cover;
    animation-name: p;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.q{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKeSIOZtr0zxc3kzDK2hWzSUyT4mZmgECv4A&usqp=CAU);
    background-position: center;
    background-size: cover;
    animation-name: q;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.r{
    background-image: url(https://dcc.newberry.org/wp-content/uploads/2020/10/Tom_Raw_-scaled-e1601669666497.jpg);
    background-position: center;
    background-size: cover;
    animation-name: r;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.s{
    background-image: url(https://cloudfront-eu-central-1.images.arcpublishing.com/irishtimes/ZBA34UIHEKD2JQSRMACW5DOFLI.jpg);
    background-position: center;
    background-size: cover;
    animation-name: s;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.t{
    background-image: url(https://i.guim.co.uk/img/media/eca81b0b9fcc479685d167b9572b2d02a7bbc764/56_58_2890_1944/master/2890.jpg?width=700&quality=85&auto=format&fit=max&s=4201d59d73362a894ac33515126cd74d);
    background-position: center;
    background-size: cover;
    animation-name: t;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
 @keyframes p {
    from{
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5AlZw1CtNcMHfNqBmSllhyvjcFFalEGuu4AJY-8wMKJuJTEdYFVnC4MRL6-_jNsKWt3U&usqp=CAU);
    }
    to{
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhhWK1F2wvg7Sx_GVEs0PNY-opObetOJnsvA&usqp=CAU);
    }
    
 }
 @keyframes q {
    from{
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKeSIOZtr0zxc3kzDK2hWzSUyT4mZmgECv4A&usqp=CAU);
    }
    to{
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOfqiac_VpYxKu3DQLOczuLUtxB1JerqQJpxy-_qRtXnag8gOIkGBEsJJDHZryVMvWNAU&usqp=CAU);
    }
    
 }
 @keyframes r {
    from{
        background-image: url(https://dcc.newberry.org/wp-content/uploads/2020/10/Tom_Raw_-scaled-e1601669666497.jpg);
    }
    to{
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOfqiac_VpYxKu3DQLOczuLUtxB1JerqQJpxy-_qRtXnag8gOIkGBEsJJDHZryVMvWNAU&usqp=CAU);
    }
    
 }
 @keyframes s {
    from{
        background-image: url(https://cloudfront-eu-central-1.images.arcpublishing.com/irishtimes/ZBA34UIHEKD2JQSRMACW5DOFLI.jpg);
    }
    to{
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6IT0mo9uL6bCsf1wr_7ybBD0yn8hEcT80uqRxWpRwCs-CWNOo4__cl04BM8IK_HN1mXc&usqp=CAU);
    }
    
 }
 @keyframes t {
    from{
        background-image: url(https://i.guim.co.uk/img/media/eca81b0b9fcc479685d167b9572b2d02a7bbc764/56_58_2890_1944/master/2890.jpg?width=700&quality=85&auto=format&fit=max&s=4201d59d73362a894ac33515126cd74d);
    }
    to{
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOAC7GeT2zFSw9HW9p5tFmG1Bwm4tAdYY-G26k_d-5uuH8oNzuFOimejYZ8AjvEJ6jKvc&usqp=CAU);
    }
    
 }
 
 .side{
    width: 25%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color:skyblue;

    
 }

 
 